{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Inicia sesión</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <form method="post" novalidate>
    <h1>Inicia sesión</h1>
    {% csrf_token %}
    {% if form.errors %}
      <ul class="errorlist">
        {% for field, errors in form.errors.items %}
          {% for e in errors %}<li>{{ e }}</li>{% endfor %}
        {% endfor %}
        {% for e in form.non_field_errors %}<li>{{ e }}</li>{% endfor %}
      </ul>
    {% endif %}

    <label>Email<br>{{ form.username }}</label>
    <label>Contraseña<br>{{ form.password }}</label>

    <button type="submit">Iniciar sesión</button>
    <div class="footer">
      <a href="{% url 'signup' %}">¿No tienes cuenta aun? Crea una cuenta</a>
    </div>
  </form>
</body>
</html>
